/* .comments {
    padding: 0 10px;
} */

/* span {
    text-align: left;
    font-weight: bold;
} */

/* .commentUser {
    font-size: 14px;
    text-align: left;
} */

/* .commentUser span {
    font-weight: bold;
    padding-right: 5px;
} */

/* .commentInput {
    width: 95%;
    border: 1px solid silver;
    border-radius: 0 0 10px 10px;
    padding: 20px 15px;
} */

/* .deleteBtn {
    border-radius: 50%;
    background-color: crimson;
    margin-right: 5px;
} */